Получить файл набора данных, прилагающийся к этой работе.

Считать файл в pandas DataFrame

Ознакомиться с основными параметрами датасета, используя функции библиотеки 
pandas, включая следующие данные:

1) Количество точек данных (измерений) в наборе

2) Количество полей данных (атрибутов)

3)Тип данных каждого поля, шкала каждого поля

4)Количество отсутствующих значений для каждого поля

5)Количество и названия константных и уникальных полей

Удалить из набора поля, не несущие информативной нагрузки - содержащие уникальные либо константные значения

Заменить возраст пассажиров на год рождения

Переименовать все названия колонок на русском языке

Заменить все отсутствующие данные средним значением (в случае числового поля) либо самым распространенным в категориальных полях.

Сохранить получившийся набор данных в формате CSV

Открыть данный файл в программе Microsoft Excel и сохранить в формате .xlsx

Считать файл .xlsx в новый DataFrame

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ML/Titanic.csv')
df #1313 строк (кол-во измерений) и 5 колонок (кол-во атрибутов)

In [ ]:
df.dtypes # тип полей

In [ ]:
df.isnull().sum() # кол-во НАНов

In [ ]:
#Количество и названия константных и уникальных полей
lis = df.columns.values
for i in lis:
  print(df[i].unique()) #виды значений
  print(len(df[i].unique()), i) #виды значений
  print("\n")

df.describe(include=['O'])

In [ ]:
#Удалить из набора поля, не несущие информативной нагрузки - содержащие уникальные либо константные значения
df = df[~df.duplicated(subset=lis, keep=False)]
df

In [ ]:
df = df[~df.duplicated(subset=['Name'], keep=False)]
df

In [ ]:
df.drop(['Name'], axis=1)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ML/Titanic.csv')

In [ ]:
def year(x):
	return 1912-x

df['Age'] = df['Age'].apply(year)
df

In [ ]:
df_tidy = df.rename(columns = {'Name': 'ФИО', 'PClass': 'Уровень Класса', 'Age': 'Возраст', 'Sex': 'Пол', 'Survived': 'Выжил'}, inplace = False)
df_tidy

In [ ]:
column_means = df.mean()
df = df.fillna(column_means)
df

In [ ]:
#проверка
df.isnull().sum()

In [ ]:
import os  
os.makedirs('./', exist_ok=True)  
df.to_csv('./out.csv',index=False)

In [ ]:
pd.read_excel('/content/drive/MyDrive/Colab Notebooks/ML/Titanic out.xlsx')

# **Контрольные вопросы**

1. Какие две главные структуры данных используются в pandas? В чем их отличие?

In [ ]:
# Series
# Dataframes
# Series — это структура, используемая для работы с последовательностью одномерных данных, а Dataframe — более сложная и подходит для нескольких измерений.

Назовите основные функции чтения данных из файлов

In [ ]:
# read_csv
# read_excel
# read_hdf
# read_sql
# read_json
# read_html

Напишите функцию записи набора данных А в файл с разделителями-запятыми

In [ ]:
import csv
from csv import writer

with open('/content/out.csv', 'a+', newline='') as write_obj:
    csv_writer = writer(write_obj)
    csv_writer.writerow(["Hello",'2st',28.00,"female",1])

Как называется функция, выводящая на экран первые N строчек набора данных?

In [ ]:
# df.head(n)

С помощью какой функции можно удалить поле набора данных? А строку?

In [ ]:
# df = df.drop('column_name', 1) 
# где 1 – номер оси ( 0 для строк и 1 для столбцов).

Напишите участок кода, демонстрирующий возможность добавления новой строки к набору данных.

In [ ]:
df_tidy

In [ ]:
to_add_df = pd.DataFrame({'ФИО':['Ivan'],
                          'Уровень Класса':['1st'],
                          'Возраст':['1907'],
                          'Пол':['male	'],
                          'Выжил':['1']})

In [ ]:
df_tidy = df_tidy.append(to_add_df, ignore_index = True)
df_tidy

In [ ]:
df_tidy

                                                ФИО  ... Выжил
0                      Allen, Miss Elisabeth Walton  ...     1
1                       Allison, Miss Helen Loraine  ...     0
2               Allison, Mr Hudson Joshua Creighton  ...     0
3     Allison, Mrs Hudson JC (Bessie Waldo Daniels)  ...     0
4                     Allison, Master Hudson Trevor  ...     1
...                                             ...  ...   ...
1309                         Zakarian, Mr Maprieder  ...     0
1310                               Zenni, Mr Philip  ...     0
1311                               Lievens, Mr Rene  ...     0
1312                                 Zimmerman, Leo  ...     0
1313                                           Ivan  ...     1

[1314 rows x 5 columns]

Напишите участок кода, демонстрирующий возможность добавления новой колонки (поля) к набору данных.

In [ ]:
df_tidy.insert(5, "Страховка", 1)

In [ ]:
df_tidy

                                                ФИО  ... Страховка
0                      Allen, Miss Elisabeth Walton  ...         1
1                       Allison, Miss Helen Loraine  ...         1
2               Allison, Mr Hudson Joshua Creighton  ...         1
3     Allison, Mrs Hudson JC (Bessie Waldo Daniels)  ...         1
4                     Allison, Master Hudson Trevor  ...         1
...                                             ...  ...       ...
1309                         Zakarian, Mr Maprieder  ...         1
1310                               Zenni, Mr Philip  ...         1
1311                               Lievens, Mr Rene  ...         1
1312                                 Zimmerman, Leo  ...         1
1313                                           Ivan  ...         1

[1314 rows x 6 columns]